.col a {
    text-decoration: none;
  }
footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px 0; 
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.footer-logo img {
    max-width: 150px; 
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #00c4a5; 
}

.footer-contact p {
    font-size: 16px;
    margin: 0;
}


.apartaments{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    margin-top: 50px;
    
}


.button_{
    background-color:#9dbd9700;
    border: none;
    
}
#mapGlobal {
    position: relative;
    height: 300px;
}



.panel {
    display: inline-block;
    width: 8%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 10px;
}

.dades{
    font-style: bold;
}
.accordion-button{
    background-color: #b1b1b1;
}

#apartmentImage {
    object-fit: cover;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}
.modal {
    --bs-modal-width: 1000px;
}
.form-reserve {
    display: inline-block;
    width: 20%;
}
.form-login{
    border-radius: 20px;
    /* posali un box shadow */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding: 20px;
    width: 35%;
}
.form-control{
    margin-bottom: 20px;
}
.return{
    text-decoration: none;
    color: black;
    margin-top: 10px;
}
.button_2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-dades {
    border-radius: 20px;
    /* posali un box shadow */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    padding: 5px;
    width:40%;
    font-size: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-label {
    font-weight: bold; /* Aplica negrita a los campos de entrada */
}
.none{
    text-decoration: none;
}
.card-margin{
    margin: 10px;
    }

.buscador{
        margin-bottom: 40px;
    }
.container-m10{
        margin-top: 30px;
}
h6{
    font-weight: bold;
}
.account{
    font-size: 32px;
    font-weight: bold;
}
  